/*GENERAL*/

:root {
  --odin-dark: rgb(16, 24, 40);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--odin-dark);
}

button {
  cursor: pointer;
}

/*HEADER*/

.header {
  height: 90px;
}

/*NAV*/

.nav {
  padding: 2em 3em;
  background-color: white;
}

ul {
  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: space-around;
}

.dropdown-button {
  border: none;
  border-radius: 7px;
  background-color: rgb(48, 91, 184);
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 8px 30px;
}

.dropdown-menu {
  background-color: rgb(243, 243, 243);
  padding: 2em 3em;
  position: absolute;
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown-menu li:not(:last-child) {
  margin-bottom: 1em;
}

.dropdown-menu li {
  border: 1px solid black;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: rgb(233, 233, 233);
}

.menu-item {
  color: black;
  text-decoration: none;
}

/*MAIN*/

.main {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-carousel-container {
  background-color: white;
  width: 800px;
  height: 400px;
  position: relative;
}

.slide__img {
  position: absolute;
  height: 400px;
  width: 800px;
  display: none;
  object-fit: cover;
}

.obj-position-top {
  object-position: top;
}

.slide__img--active {
  display: block;
}

.slide__btn {
  position: absolute;
  border: none;
  padding: 8px 15px;
  border-radius: 100%;
  font-size: 1rem;
  background-color: darkgrey;
}

.slide__btn-left {
  top: 45%;
  left: 0;
}

.slide__btn-right {
  top: 45%;
  right: 0;
}

.slide__btn:hover {
  background-color: rgb(105, 105, 105);
}

.nav-dot {
  background-color: white;
  padding: 5px;
  border: none;
  border-radius: 100%;
  margin-right: 5px;
}

.navigation-dots-container button:hover {
  background-color: rgb(187, 187, 187);
}

.nav-dot--active {
  background-color: rgb(70, 152, 190);
}
